<div id="card">
    <div id="inside" [style.background-color]="backgroundColor">
        <header>
            <div class="left">
                <div id="name">{{produit().name}}</div>
            </div>

            <div class="right">
                <div id="hp">{{produit().hp}} HP</div>
                <img class="energy icon" [src]="productTypeIcon">
            </div>
        </header>

        <figure id="art">
            <img [src]="produit().image">
            <figcaption>{{produit().figureCatpion}}</figcaption>
        </figure>
                
        <div id="capacities">
            <div class="capacity">
                <div class="main">  
                    <div class="cost">
                        <img class="icon energy" src="/img/electric.png">
                        <img class="icon energy" src="/img/electric.png">
                    </div>
                    <div class="name">{{produit().attackName}}</div>
                    <div class="damage">{{produit().attackStrength}} BIF</div>                    
                </div>
            </div>

            <div class="description">
                {{produit().attackDescription}}
            </div>

        </div>

    </div>
</div>
