<app-search-bar [(search)]="search"></app-search-bar>
<div id="card-list">  
    @for(product of filteredProducts(); track product.name){       
        <app-playing-card  [produit]="product"/>        
    }@empty{
        <div class="center">Aucun produit trouvé !</div>
    }     
</div>

@if(filteredProducts().length > 0){
    <div class="center"> {{filteredProducts().length}} produit(s) Trouvé(s) !</div>
}

<div class="center"><button (click)="addProduct()">Add Generic Product</button></div>
